html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
#form_login {
    width: 40%;
    height: 400px;
    margin: 150px auto;
    background-image: linear-gradient(#258cfb, #fff, #258cfb, #fff);
    background-color: rgb(37,140,251);
    border-radius: 5px;
    /* box-shadow: 1px 2px 3px #258cfb, 2px 6px 2px #ffffff, 2px 1px 2px #258cfb;*/
    position: relative;
}
#form_login .login {
    padding:20px;
    position:absolute;
    top:90px;
    left:0px;
}
.footer_login {
    position: absolute;
    top: 340px;
    left: 0px;
}